body{background-color:#FCF6F5;}
table {
border-spacing: 0px;
max-width: 1150px;
border: 3px solid #E2D9C6;
}
td, tr{ 
padding: 15px;
word-wrap:break-word;
	}
.beige{background-color: #E2D9C6}
.img{
border-radius: 250px;
height:250px;
width:250px;
}
.fontname{
	font-family:century schoolbook; 
	font-size:50px; 
	font-weight:bold;
}
.fontlower{
	font-family:courier new; 
	font-size:25px;
}
.little{font-size:15px;}
.icons{
	height:35px;
	width:35px;
}
.secondrow{
	font-family:courier new;
	font-weight:bold;
	font-size:15px;
	padding-right:10px;
	padding-top: 10px; 
	padding-bottom: 0px;
}
.thirdrow{
	font-family:courier new;
	font-size:15px;
	padding-right:15px;
	padding-top: 0px; 
	padding-bottom: 10px;
}
.fontleft{
	font-family:century schoolbook; 
	font-size:25px; 
	font-weight:bold;
}
.fontright{
	font-family:courier new; 
	font-size:18px; 
}
progress{
	width:200px;
	height:8px;
	background-color:#FCF6F5; 
	border: 1px solid #AEAEAE;
}
progress::-webkit-progress-bar {

	background-color:#FCF6F5; 
}
progress::-webkit-progress-value {
	background-color:#326CAE; 
}
.procent{
	font-family:century schoolbook;
	font-size:15px; 
	color:#326CAE;
	padding-right:10px;

}
.skills{
	font-family:century schoolbook; 
	font-size:20px; 
	font-weight:bold;
}